.image-root {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon {
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 3px;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}


.RandF1 {
  -webkit-filter: blur(5px); /* Safari */
  filter: blur(5px);
}
.RandF2 {
  -webkit-filter: brightness(200%); /* Safari */
  filter: brightness(200%);
}
.RandF3 {
  -webkit-filter: contrast(200%); /* Safari */
  filter: contrast(200%);
}
.RandF4 {
  -webkit-filter: drop-shadow(8px 8px 10px gray); /* Safari */
  filter: drop-shadow(8px 8px 10px gray);
}
.RandF5 {
 -webkit-filter: grayscale(50%); /* Safari */
  filter: grayscale(50%);
}

